[submodule "examples/bazel"]
	path = examples/bazel
	url = https://pigweed.googlesource.com/pigweed/quickstart/bazel
[submodule "examples/pico-sdk"]
	path = examples/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "examples/pico-examples"]
	path = examples/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "examples/pigweed"]
	path = examples/pigweed
	url = https://pigweed.googlesource.com/pigweed/pigweed

